
@charset "UTF-8";

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
}

hr {
    background-color: rgb(63, 77, 122) !important;
    height: 2px !important;
}

/* See https://github.com/MartinKondor/ChessOpenings/blob/main/lib/bootstrap.min.css#L3769 */
.dropdown-menu {opacity: 0 !important}
.dropdown-menu.show {opacity: 1 !important}

i.fa-solid { display:inline; }

table, th, td {
    border: 1px solid;
}

@media screen and (max-width: 1200px) {
    html,body {
        padding: 15px !important;
    }
}

@media screen and (max-width: 900px) {
    html,body {
        padding: 5px !important;
    }
}

@media screen and (max-width: 700px) {
    html,body {
        padding: 1px !important;
    }
}
